@font-face {
  font-family: 'Museo Sans Light';
  src: url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("/src/fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px splid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__info {
  display: flex;
  align-items: center;
  text-align: right;
}

.navbar__address {
  display: flex;
  flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  background-color: #F5F5F5;
  padding: 50px 0;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url("/src/img/offer.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 30px;
}

.offer__footer {
  display: flex;
  justify-content: space-between;
}

.offer__text {
  width: 50%;
  font-size: 15px;
}

.offer__text:first-child {
  margin-right: 70px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__footer {
    display: inline;
    width: 100%;
  }
  .offer__text {
    display: inline-block;
    width: 100%;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
